/target/
.idea/
*.class
*.log
*.bak
*.temp
.DS_Store
.classpath
.project
.settings/
*.sw?
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.war

# Local sensitive configs
src/main/resources/application-local.properties
